.mainContent {
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 58px;
  margin-bottom: 21px;
}
.subtitle {
  opacity: 0.6;
  margin-bottom: 21px;
}
.cards {
  margin-top: 34px;
  :global .Polaris-Layout__Section {
    align-self: stretch;
    display: flex;
  }
  :global .Polaris-Card {
    width: 100%;
    margin-bottom: 21px;
  }
}
.placeholderRound {
  width: 175px;
  height: 175px;
  background: #c4c4c4;
  border-radius: 50%;
}
.cardTitle {
  margin-bottom: 16px;
}
.cardSubtitle {
  opacity: 0.6;
}
.getStartedBtn {
  margin-top: auto;
  display: flex;
  :global .Polaris-Button {
    width: 100%;
    margin-top: 1.6rem;
    @media screen and (min-width: 557px) {
      width: 298px;
      margin: 1.6rem auto 0;
    }
  }
}
